.page {
  padding: 32px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 12px;
  margin-top: 20px;
}

.character-card img {
  height: 320px;
  object-fit: cover;
}

.filter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-bottom: 20px;
}

mat-card-actions{
  display: flex;
  justify-content: center;
}
